.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 32px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2 {
    font-size: 3rem;
    text-align: center;
    color:rgb(6, 0, 90);
    margin: 3rem 0;
}

.col {
    display: grid;
    align-items: center;
    justify-items: center;
}